@font-face {
font-family: 'Circular Std Book';
font-style: normal;
font-weight: normal;
src: local('Circular Std Book'), url('../fonts/CircularStd-Book.woff') format('woff');
}


@font-face {
font-family: 'Circular Std Book Italic';
font-style: normal;
font-weight: normal;
src: local('Circular Std Book Italic'), url('../fonts/CircularStd-BookItalic.woff') format('woff');
}


@font-face {
font-family: 'Circular Std Medium';
font-style: normal;
font-weight: normal;
src: local('Circular Std Medium'), url('../fonts/CircularStd-Medium.woff') format('woff');
}


@font-face {
font-family: 'Circular Std Medium Italic';
font-style: normal;
font-weight: normal;
src: local('Circular Std Medium Italic'), url('../fonts/CircularStd-MediumItalic.woff') format('woff');
}


@font-face {
font-family: 'Circular Std Bold';
font-style: normal;
font-weight: normal;
src: local('Circular Std Bold'), url('../fonts/CircularStd-Bold.woff') format('woff');
}


@font-face {
font-family: 'Circular Std Bold Italic';
font-style: normal;
font-weight: normal;
src: local('Circular Std Bold Italic'), url('../fonts/CircularStd-BoldItalic.woff') format('woff');
}


@font-face {
font-family: 'Circular Std Black';
font-style: normal;
font-weight: normal;
src: local('Circular Std Black'), url('../fonts/CircularStd-Black.woff') format('woff');
}


@font-face {
font-family: 'Circular Std Black Italic';
font-style: normal;
font-weight: normal;
src: local('Circular Std Black Italic'), url('../fonts/CircularStd-BlackItalic.woff') format('woff');
}

html {
  box-sizing: border-box;
  font-size: 100%
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


@media (min-width: 64em) {
  html {
    font-size: 112.5%;
  }
}

body {
    background: #000410;
    color: #fff;
    font-family: "Circular Std Medium";
    line-height: 1.5;
}

a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #1777e1;
}

a:hover {
    color: #1777e1;
}

p {
    font-size: 0.95rem;
    line-height: 1.5;
}

.content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 100%;
}

.container {
    max-width: 67rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


@media (min-width: 28em) {
    p {
        font-size: 1rem;
        line-height: 1.5;
    }

    .content {
        max-width: 28em;
        margin: 10% 20% 10% 20%;
    }

}